# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [41]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

browser = webdriver.Chrome(executable_path='C:\Program Files (x86)\Google\Chrome\Application\chromedriver.exe')
browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))

selectSite.select_by_value('11')

selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')


browser.find_element_by_id('ctl05_btnQuery').click()

In [42]:
html_source = browser.page_source
html_source[0:500]

'<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-TW"><head id="Head1"><base href="https://taqm.epa.gov.tw/taqm/tw/"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>行政院環境保護署－空氣品質監測網 - 月平均值查詢</title><meta name="title" content="空氣品質監測網(TAQM)">\n<!--link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" /--> \n<link type="text/css" href="/taqm/tw/style/all.min.css?v=20180508c" rel="styleshee'

In [43]:
soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')
table

<table align="Center" border="1" cellpadding="3" cellspacing="0" class="TABLE_G" id="ctl05_gv" rules="all" style="border-color:Black;border-width:1px;border-style:None;border-collapse:collapse;">
<tbody><tr style="color:Black;font-weight:normal;">
<th scope="col">監測項目</th><th scope="col">單位</th><th scope="col">監測日期</th><th scope="col">監測值</th><th scope="col">標註</th>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">SO2</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>1.80</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>1.90</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>2.20</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>2.30</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>3.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>2.70</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>2.20</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>2.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>2.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>1.70</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>1.90</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>1.80</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">CO</td><td class="no-alt" rowspan="12" valign="top">ppm</td><td>2018/01</td><td>0.34</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>0.44</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>0.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>0.38</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>0.34</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>0.29</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>0.21</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>0.30</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>0.26</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>0.29</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>0.30</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>0.35</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">O3</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>33.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>32.50</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>35</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>38.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>31.60</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>29.50</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>18.70</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>26.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>29.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>45.90</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>32.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>30.70</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">PM10</td><td class="no-alt" rowspan="12" valign="top">μg/m3</td><td>2018/01</td><td>23</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>41</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>39</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>48</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>37</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>26</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>24</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>26</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>28</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>33</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>25</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>21</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NOx</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>14.17</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>19.43</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>18.50</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>15.24</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>15.20</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>13.79</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>11.60</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>14.75</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>12.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>12.45</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>13.41</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>14.56</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>3.41</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>4.48</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>4.93</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>2.60</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>2.26</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>2.41</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>2.68</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>2.68</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>2.41</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>2.13</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>2.71</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>3.42</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO2</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>10.77</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>14.95</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>13.56</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>12.64</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>12.94</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>11.38</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>8.92</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>12.08</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>10.33</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>10.71</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>11.15</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">THC</td><td class="no-alt" rowspan="1" valign="top">ppm</td><td> </td><td> </td><td>無此測項</td>
</tr><tr class="ALT" style="color:Black;">
<td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">NMHC</td><td class="no-alt" rowspan="1" valign="top">ppm</td><td> </td><td> </td><td>無此測項</td>
</tr><tr style="color:Black;">
<td style="white-space:nowrap;">CH4</td><td>ppm</td><td> </td><td> </td><td>無此測項</td>
</tr>
</tbody></table>

In [44]:
all_td=table.findAll("td")

In [45]:
d={}
for td in all_td:   
    #print(td.attrs)
    #print(td.attrs)
    if (len(td.attrs)==4):
        prime_key=td.contents[0]
        d[prime_key]={}
        continue
    elif ((len(td.attrs)==3)|(td.contents[0]=='\xa0')):
        continue
    elif "/" in td.contents[0]:
        date_key=td.contents[0]
        continue
    else:
        d[prime_key][date_key]=td.contents[0]

In [46]:
import pandas as pd
pd.DataFrame(d)

          SO2    CO     O3 PM10    NOx    NO    NO2   THC  NMHC
2018/01  1.80  0.34  33.40   23  14.17  3.41  10.77   NaN   NaN
2018/02  1.90  0.44  32.50   41  19.43  4.48  14.95   NaN   NaN
2018/03  2.20  0.40     35   39  18.50  4.93  13.56   NaN   NaN
2018/04  2.30  0.38  38.40   48  15.24  2.60  12.64   NaN   NaN
2018/05  3.10  0.34  31.60   37  15.20  2.26  12.94   NaN   NaN
2018/06  2.70  0.29  29.50   26  13.79  2.41  11.38   NaN   NaN
2018/07  2.20  0.21  18.70   24  11.60  2.68   8.92   NaN   NaN
2018/08  2.40  0.30  26.40   26  14.75  2.68  12.08   NaN   NaN
2018/09  2.10  0.26  29.10   28  12.40  2.41     10   NaN   NaN
2018/10  1.70  0.29  45.90   33  12.45  2.13  10.33   NaN   NaN
2018/11  1.90  0.30  32.40   25  13.41  2.71  10.71   NaN   NaN
2018/12  1.80  0.35  30.70   21  14.56  3.42  11.15  無此測項  無此測項

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [47]:
df=df=pd.DataFrame(d)

In [48]:
SO2_CO = df[["SO2","CO"]]

In [49]:
pd.DataFrame(SO2_CO[0:8])

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30